* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}
#menu {
    font-size: 150%;
    text-transform: uppercase;
    width: 100%;
    padding: 1% 0;
    font-weight:bold;
    display: flex;
    justify-content: space-around;
}
#menu a {
    color: white;
    text-decoration: none;
}
#menu a:hover {
    background: -webkit-linear-gradient(right, rgb(255, 0, 0), rgb(169, 83, 219));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px rgb(185, 231, 180);
}
#menu p {
    width: 30%;
    letter-spacing: 4px;
    word-spacing: 20px;
}
#inventory {
    width: 60%;
    text-align: center;
    margin-top: 3%;
    margin-left: 5%;
    margin: 0 auto;
}
#inventoryTable {
    width: 100%;
    margin-bottom: 10%;
}
#inventory h1 {
    font-size: 350%;
    text-transform: uppercase;
    margin-top: 2%;
}
table {
    border: none;
    margin-top: 5%;
    font-size: 140%;
    border-collapse: collapse;
}
thead th {
    font-size: 140%;
    padding-bottom: 1.2%;
}
#inventoryTable td {
    border-top: 2px solid white;
    padding: 1.2%;
}
#tableBody tr:hover {
    background-color: rgb(32, 32, 32);
}
button {
    font-weight: bold;
    font-size: 80%;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 1% 3%;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
}
button:hover {
    background-color: white;
    color: black;
}
.glitch {
    text-shadow: 0.05em 0 0 red, -0.025em -0.05em 0 green, 0.025em 0.05em 0 blue;
    animation: glitch 2000ms infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 red, -0.05em -0.025em 0 green, -0.025em 0.05em 0 blue;
    }
    14% {
        text-shadow: -0.05em 0.9 0 red, -0.05em -0.025em 0 green, -0.025em 0.05em 0 blue;
    }
    15% {
        text-shadow: 0.05em 0 0 red, 0.025em -0.0325em 0 green, 0.05em -0.025em 0 blue;
    }
    49% {
        text-shadow: -0.05em 0 0 red, 0.025em 0.0325em 0 green, -0.05em -0.025em 0 blue;
    }
    50% {
        text-shadow: 0.0525em 0.05 0 red, 0.05em 0 0 green, 0.032 -0.05em 0 blue;
    }
    99% {
        text-shadow: 0.0525em 0.05 0 red, 0.05em 0 0 green, 0.032 -0.05em 0 blue;
    }
    100% {
        text-shadow: -0.05em 0.05em 0 red, -0.025em -0.025em 0 green, -0.05em 0.05em 0 blue;
    }
}
#total1 {
    margin: 0 auto;
    /* background-color: aquamarine; */
    display: flex;
    width: 30%;
    justify-content: space-around;
    font-size: 160%;
}